/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  background: #e63946;
}

$font-family: 'Montserrat', sans-serif;

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #1D3557; // TODO: this color should go in a palette
}

* {
  outline: none !important;
  box-sizing: border-box;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
} 

body, h1, h2, h3, h4, h5, h6, input, button {
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

// main-background

.row{
  display:flex;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px;
  width: auto;
}

.col-xs-4 {
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}

.body-inner {
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &__circle {
    position: absolute;
    border-radius: 50%;
    background: white;
    z-index: 1;
    
    &--one {
      height: 494px;
      width: 494px;
      top: -270px;
      right: -250px;
      opacity: 0.16;
    }
    
    &--two {
      opacity: 0.12;
      height: 694px;
      width: 694px;
      top: -100px;
      right: -390px;
    }
  }
}

.logo-quiz-root {
  position: relative;
  z-index: 2;
  display: block;
}

// header

.header-wrapper {
  margin: 0 20px;
  position: relative;
}

.header-back {
  position: absolute;
  left: 0;
  top: 0;
}

.header-title {
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;

  h3 {
    font-size: 1em;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  &__backdrop {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
  }

  &__wrapper {
    background: #F4F7F3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 25px;
  }
}

.logout-btn {
  position: fixed;
  bottom: 0;
  left: 0;
}

.placeholder-loading {
  // width: 100%;
  // height: 100%;
  // transition: .3s;
  // background-image: linear-gradient(-90deg,#efefef 0,#fcfcfc 50%,#efefef 100%) !important;
  // background-size: 400% 400% !important;
  // animation: 1.3s infinite glow;
  // opacity: .8;
  // background-repeat: inherit !important;
  // border-radius: 10px;
  opacity: 1;
  background: white !important;
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  100%{
    background-position: -135% 0;
  }
}

// utils

.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.h-center {
  display: flex;
  justify-content: center;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}
