.levels {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__wrapper {
    height: 90vh;
    background: #F4F7F3;
    border-radius: 10px 10px 0 0;
    padding: 0 50px;
  }
}
