// TODO: this style is repeated all over, needs a good css abstraction
.logo-list {

  &__wrapper {
    background: #F4F7F3;
    border-radius: 10px;
    padding: 24px 36px;
    overflow: auto;
  }

  &__placeholder {
    width: 100%;
    padding-top: 100%;
    border-radius: 5px;
    transition: .3s;
    background-image: linear-gradient(-90deg, #e7e8e5 0, #f1f1f1 50%, #e7e8e5 100%);
    background-size: 400% 400%;
    animation: 1.3s infinite glow;
    background-repeat: inherit;
    opacity: 1;
  }
}

.logo-preview-wrapper {
  padding: 9px 9px;
  animation: fade-in ease 0.5s forwards
}
