.logo-preview {
  position: relative;
  display: inline-flex;
  border-radius: 5px;
  padding: 8px;
  background: white;
  width: 100%;

  &__image {
    width: 100%;
    height: auto;
  }

  &--valid {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #62E97C;
    border-radius: 50%;
    display: block;
    height: 24px;
    width: 24px;
    border: 3px solid #f4f7f2;

    svg {
      position: relative;
      top: -2px;
      right: -4px;
      transform: scale(0.96);
    }
  }
}