.logo-preview {
  position: relative;
  display: block;
  border-radius: 5px;
  background: white;
  width: 100%;
  padding-top: 100%;

  &__image {
    width: 100%;
    height: auto;
  }

  &__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 8px;
  }

  &--valid {
    position: absolute;
    top: -12px;
    right: -12px;
    background: #62E97C;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 3px solid #f4f7f2;
  }
}