.level-button {
  display: block;
  border: none;
  min-width: 200px;
  font-size: 1.25em;
  font-weight: 600;
  padding: 40px 0;
  border-bottom: 1px solid #dadcd9;
  position: relative;

  &, &:hover {
    color: #1D3557;
    text-decoration: none;
  }

  &--locked {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #f4f7f3;
      opacity: 0.8;
      display: block;
      z-index: 2;
    }
  }

  &__message {
    font-size: 1rem;
    margin-bottom: 0;
  }

  &__content {
    z-index: 1;
  }

  &__lock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    flex-direction: column;
  }

  &__name, &__validated {
    font-size: 1em;
    font-weight: 700;
  }

  &__validated {
    text-align: right;
    margin-bottom: 10px;
  }

  &__bar {
    width: 80px;
    height: 6px;
    border-radius: 10px;
    background: #e0e3df;
  }

  &__fill {
    background: #457B9D;
    height: 6px;
    width: 50%;
    border-radius: 10px;
    display: block;
    transition: width 0.25s ease;
  }
}
