// TODO: create a palette file to fetch colors

.main {
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__content {
    z-index: 2;
  }

  &__button {
    background-color: #1D3557;
    height: 56px;
    max-width: 290px;
    border-radius: 3px;
    font-size: 1.25em;
    font-weight: 600;
    width: 290px;
    
    &, &:hover {
      text-decoration: none;
      color: white;
    }
  }

  &__header, &__subheader {
    color: white;
  }

  &__header {
    font-size: 2.5em;
    margin-bottom: 15px;
  }

  &__subheader {
    font-size: 1.125em;
    font-weight: 600;
    opacity: 0.9;
    margin-bottom: 100px;
  }

  &__image {
    max-width: 370px;
    width: 90%;
    margin-bottom: 120px;
  }
}
